<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Java</title>
	<link rel="icon" type="/image/icon" href="/images/java_logo.png" />
	<link rel="stylesheet" href="/css/java.css" />
	<script src="/js/slideshow.js"></script>
</head>

<body>
	<div>
		<nav th:replace="~{fragments/nav}"></nav>
	</div>
	<div>
		<nav th:replace="~{fragments/uploadVideo}"></nav>
	</div>
</body>

</html>