<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Java</title>
	<link rel="icon" type="/image/icon" href="/images/java_logo.png" />
	<link rel="stylesheet" href="/css/java.css" />
	<script src="/js/slideshow.js"></script>
</head>

<body>
	<div>
		<nav th:replace="~{fragments/nav}"></nav>
	</div>

	<section>
		<form th:action="@{/java/upload}" enctype="multipart/form-data" th:method="POST">
			<p>Upload File</p>
			<div>
				<input type="file" id="upload" style="display: none;" name="video" />
				<label for="upload">Select Files</label>
			</div>
			<button><span>&#8682; Upload</span><span class="uploading">Uploading......</span></button>
			<button class="cancle">Cancel Upload</button>
			<div class="pr">
				<strong>
					<h4 class="ex">PDF</h4>
					<h5 class="size">2.5kb</h5>
				</strong>
				<progress min="0" max="100" value="0"></progress>
				<span class="progress-indicator"></span>
			</div>
		</form>
	</section>
	<section class="road" th:each="video : ${videos}" th:object="${video}">
			<div>
				<h2 th:text="*{name}">Video name</h2>
				<video controls width="200" height="300" th:src="*{path}"></video>
			</div>
		</section>
</body>

</html>