<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="login">
		<h1>Login</h1>
		<form th:method="POST" th:action="@{/login}">
			<label for="username"> <i class="fas fa-user"></i>
			</label> <input type="text" name="username" th:value="*{username}" placeholder="Username" id="username"
				required> <label for="password"> <i class="fas fa-lock"></i>
			</label> <input type="password" name="password" placeholder="Password" id="password" required>
			<div>
				<input type="checkbox" name="remember-me">Remember me
			</div>

			<li><a href="/forgotPassword">Forgot Password</a></li>
			
			<p th:if="${bad_credentials}" class="errors alert alert-danger">Invalid
				username or password.</p>
				
			<input type="submit" value="Login">

		</form>
	</div>
</body>

</html>