<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Brown Bear</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>The Brown Bear</h1>
    <div class="firstPar">
        <p>The brown bear (Ursus arctos) is a large bear species found across Eurasia and North America.In North
            America,
            the populations of brown bears are called grizzly bears, while the subspecies that inhabits the Kodiak
            Islands
            of Alaska is known as the Kodiak bear. It is one of the largest living terrestrial members of the order
            Carnivora,
            rivaled in size only by its closest relative, the polar bear (Ursus maritimus), which is much less variable
            in
            size
            and slightly bigger on average. The brown bear's range includes parts of Russia, Central Asia,
            the Himalayas, China, Canada, the United States, Hokkaido, Scandinavia, Finland, the Balkans, the Picos de
            Europa and the Carpathian region (especially Romania), Iran, Anatolia, and the Caucasus. The brown bear is
            recognized as a national and state animal in several European countries.</p>
    </div>

    <div class="secondPar">
        <p>While the brown bear's range has shrunk, and it has faced local extinctions across its wide range, it remains
            listed as a least concern species by the International Union for Conservation of Nature (IUCN) with a total
            estimated population in 2017 of 110,000. As of 2012, this and the American black bear are the only bear
            species
            not classified as threatened by the IUCN, though the large sizes of both bears may be a disadvantage due to
            increased competition with humans. Populations that were hunted to extinction in the 19th and 20th
            centuries are the Atlas bear of North Africa and the Californian, Ungavan and Mexican populations of the
            grizzly bear of North America. Many of the populations in the southern parts of Eurasia are highly
            endangered as
            well. One of the smaller-bodied forms, the Himalayan brown bear, is critically endangered, occupying only
            2% of its former range and threatened by uncontrolled poaching for its body parts. The Marsican brown bear
            of central Italy is one of several currently isolated populations of the Eurasian brown bear and is believed
            to
            have a population of just 50 to 60 bears.</p>
    </div>

    <h3><a href="https://en.wikipedia.org/wiki/Brown_bear">Learn More</a></h3>

    <p>Here are some bear species:</p>

    <ul>
        <li>Arctos</li>
        <li>Collarus</li>
        <li>Horribilis</li>
        <li>Nelsoni (extinct)</li>
    </ul>

    <p>The following countries have the largest populations of brown bears:</p>

    <ol>
        <li>Russia</li>
        <li>United States</li>
        <li>Canada</li>
    </ol>

    <div class="images">
        <img src="picture/brown bear 1.jpg" />
        <img src="picture/brown bear 2.jpg" />
        <img src="picture/brown bear 3.jpg" />
    </div>
</body>

</html>